.edukasi-container {
  display: flex;
  flex-direction: column;
}

.edukasi-content {
  background-color: var(--color-abu);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2px 0 5px 0;
}

.edukasi-content h2 {
  padding: 38px;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
}

.edukasi-content-button {
  position: absolute;
  right: 80px;
}